@model List<ErrorDto>
@{
    ViewData["Title"] = "Thư viện lỗi";
}
<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Thư viện lỗi</span></h4>
        <div>
            <button type="button" class="btn rounded-pill btn-primary" data-bs-toggle="modal"
                    data-bs-target="#addModel" onclick="addHandle()">
                <span class="tf-icons bx bx-plus"></span>&nbsp; Thêm
            </button>
            <!-- Add Modal -->
            <div class="modal fade" id="addModel" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalCenterTitle">Thêm lỗi</h5>
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <form action="/" method="post">
                            <div class="modal-body">
                                <div class="mb-2">
                                    <label for="addErrorGroupSelect" class="form-label">Nhóm lỗi</label>
                                    <select class="form-select" id="addErrorGroupSelect" aria-label="Default select example">
                                        <option selected="">Chọn nhóm lỗi</option>
                                        <option value="1">Nhóm lỗi 1</option>
                                        <option value="2">Nhóm lỗi 2</option>
                                        <option value="3">Nhóm lỗi 3</option>
                                    </select>
                                </div>
                                <div class="mb-2">
                                    <label for="addErrorCode" class="form-label">Mã lỗi</label>
                                    <input type="text" class="form-control" id="addErrorCode" placeholder="Nhập mã lỗi" aria-describedby="defaultFormControlHelp">
                                </div>
                                <div class="mb-2">
                                    <label for="addErrorName" class="form-label">Tên lỗi</label>
                                    <input type="text" class="form-control" id="addErrorName" placeholder="Nhập tên lỗi" aria-describedby="defaultFormControlHelp">
                                </div>
                                <div class="mb-2">
                                    <label for="addErrorType" class="form-label">Loại lỗi</label>
                                    <input type="text" class="form-control" id="addErrorType" placeholder="Nhập loại lỗi" aria-describedby="defaultFormControlHelp">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                    Đóng
                                </button>
                                <button type="button" class="btn btn-primary" onclick="handleAddError()">Lưu</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Edit Modal -->
            <div class="modal fade" id="editModel" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalCenterTitle">Sửa lỗi</h5>
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <form action="/" method="post">
                            <div class="modal-body">
                                <div class="mb-2">
                                    <label for="editErrorGroupSelect" class="form-label">Nhóm lỗi</label>
                                    <select class="form-select" id="editErrorGroupSelect" aria-label="Default select example">
                                        <option selected="">Chọn nhóm lỗi</option>
                                        <option value="1">Nhóm lỗi 1</option>
                                        <option value="2">Nhóm lỗi 2</option>
                                        <option value="3">Nhóm lỗi 3</option>
                                    </select>
                                </div>
                                <input type="text" class="form-control" id="editErrorId" placeholder="ID" aria-describedby="defaultFormControlHelp" hidden>

                                <div class="mb-2">
                                    <label for="editErrorCode" class="form-label">Mã lỗi</label>
                                    <input type="text" class="form-control" id="editErrorCode" placeholder="Nhập mã lỗi" aria-describedby="defaultFormControlHelp">
                                </div>
                                <div class="mb-2">
                                    <label for="editErrorName" class="form-label">Tên lỗi</label>
                                    <input type="text" class="form-control" id="editErrorName" placeholder="Nhập tên lỗi" aria-describedby="defaultFormControlHelp">
                                </div>
                                <div class="mb-2">
                                    <label for="editErrorType" class="form-label">Loại lỗi</label>
                                    <input type="text" class="form-control" id="editErrorType" placeholder="Nhập loại lỗi" aria-describedby="defaultFormControlHelp">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                    Đóng
                                </button>
                                <button type="button" class="btn btn-primary" onclick="handleEditError()">Lưu</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Striped Rows -->
        <div class="card mt-4">
            <div class="table-responsive text-nowrap">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nhóm lỗi</th>
                            <th>Mã lỗi</th>
                            <th>Tên lỗi</th>
                            <th>Loại lỗi</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tbody id="errorTableBody" class="table-border-bottom-0">
                        @foreach(var item in Model)
                        {
                            <tr>
                                <td>@item.ErrorGroup?.Name</td>
                                <td>@item.Code</td>
                                <td>@item.Name</td>
                                <td>@item?.ErrorCategory</td>
                                <td>
                                    <div class="dropdown">
                                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                            <i class="bx bx-dots-vertical-rounded"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <button type="button" class="dropdown-item" data-bs-toggle="modal"
                                                        data-bs-target="#editModel" onclick="editHandle(@item.Id)">
                                                    <i class="bx bx-edit-alt me-1"></i> Sửa
                                                </button>
                                            <a class="dropdown-item" href="javascript:void(0);" onclick='editHandle(@Html.Raw(Json.Serialize(item)))'><i class="bx bx-trash me-1"></i> Xóa</a>
                                       
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
        <!--/ Striped Rows -->
    </div>
    <!-- / Content -->
    <div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->

@section Scripts {
    <script src="~/js/site.js">
    </script>
}

